<div class="clinician-nav">
  {{! main dashbord }}
  <div class="nav-item">
    <a href="/clinician/dashboard">Patient List</a>
  </div>
  {{! single patient }}
  <div class="nav-item">
    <a>Patient</a>
  </div>
  {{! Register Patient }}
  <div class="nav-item">
    <a href="/clinician/patient-register">Register Patient</a>
  </div>
  {{! Comments }}
  <div class="nav-item">
    <a href="/clinician/comments">Comments</a>
  </div>
  {{! Clinician Notes }}
  <div class="nav-item">
    <a href="/clinician/notes-page">Clinician Notes</a>
  </div>
  {{! Settings }}
  <div class="nav-item">
    <a href="/clinician/settings">Settings</a>
  </div>
  {{! Log Out< }}
  <div class="nav-item">
    <a href="/auth/logout">Log Out</a>
  </div>
</div>