<div class="clinician-nav">
  <div class="nav-item">
    <a href="/clinician/dashboard">Patient List</a>
  </div>
  <div class="nav-item">
    <a>Patient</a>
  </div>
  <div class="nav-item">
    <!--Backend may need updating-->
    <a href="/clinician/register">Register Patient</a>
  </div>
  <div class="nav-item">
    <a href="/clinician/comments">Comments</a>
  </div>
  <div class="nav-item">
    <!--Backend may need updating-->
    <a href="/clinician/settings">Settings</a>
  </div>
  <div class="nav-item">
    <a href="/auth/logout">Logout</a>
  </div>
</div>