<nav>
  <div>
    {{! dashboard }}
    <a href="/patient/dashboard"><img
        src="/image/icon/patient-dashboard.png"
      /></a>

    {{! engagement }}
    <a href="/patient/engagement"><img
        src="/image/icon/Award.png"
      /></a>

    {{! add health data }}
    <a href="/patient/addHealth"><img
        src="/image/icon/patient-new-data.png"
      /></a>


    {{! waiting }}
    <a href="/patient/profile"><img
        src="/image/icon/patient-personal-profile.png"
      /></a>

    {{! logout}}
    <a href="/auth/logout">
      <img src="/image/icon/logout.png" />
    </a>
  </div>
</nav>