<nav>
  <div>
    <a href="/patient/dashboard"><img
        src="/image/icon/patient-dashboard.png"
      /></a>
    <a><img src="/image/icon/patient-calendar.png" /></a>
    <a href="/patient/addHealth"><img
        src="/image/icon/patient-new-data.png"
      /></a>
    <a><img src="/image/icon/patient-progress.png" /></a>
    <a><img src="/image/icon/patient-personal-profile.png" /></a>
    <a href="/auth/logout">
      <img src="/image/icon/logout.png" />
    </a>
  </div>
</nav>