<header>
  <a href="/" class="btn-home">D@H</a>
  <h1>About Diabetes@Home</h1>
</header>
<section class="col1">
  <p>This website helps people manage diabetes from the comfort of their home.
    It provides a motivating interface for patients to record their health data,
    and for clinicians to monitor this remotely.</p><br />
  <p>To access most features, users must be logged in. To create an account,
    please contact your clinician.</p><br />
  <p>This website was built by Ryan Breeze, Manami Fujikawa, Andrew Liu,
    Sebastian Rey-Fleming, and Yao Shan.</p>
</section>
<section class="col2">
  <img
    src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    height="auto;"
    width="100%"
  />
</section>
<footer>
      <p>© Diabetes@Home 2022 &nbsp;&nbsp;|&nbsp;&nbsp; P: 0123456789 &nbsp;&nbsp;|&nbsp;&nbsp; E: <a href="mailto:diabetes.home@gmail.com">diabetes.home@gmail.com</p>
</footer>