<main>
  <div class="header-container">
    <div class="title note-title">Note History</div>
    <div class="title p-name">
      {{patient.firstName}}
      {{patient.lastName}}
      </div>
  </div>
  <ul>
    <li class="row-container">
      <div class="flex-item-date list-header">Date</div>
      <div class="list-header">Note</div>
    </li>
  </ul>
    <div class="window-container">
      <ul>
        {{#each notes}}
          <li class="row-container">
            <div class="flex-item-date">{{date}}</div>
            <div>{{note}}</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </ul>
</main>