<div class="clin-container">
  {{> myNav}}
  <main>
    <h3 class="title">Patient List</h3>
    <ul>
      <li class="row-container">
        <div class="flex-item-name list-header">Name</div>
        <div class="flex-item list-header box">Sex</div>
        <div class="flex-item list-header box">DOB</div>
        <div class="flex-item list-header box">BGL (nmol/L)</div>
        <div class="flex-item list-header box">Weight (kg)</div>
        <div class="flex-item list-header box">Insulin (doses)</div>
        <div class="flex-item list-header box">Exercise (steps)</div>
        <div class="flex-item list-header box">Comments</div>
      </li>
      {{#each patients}}
        <li class = "row-container">
          <div class="flex-item">
            {{> patientEntry}}
          </div>
        </li>
      {{/each}}
    </ul>
  </main>
</div>
