<main>
  <h3 class="title">Register Patient</h3>
  <form class="register-form" method="post" name="patient-register" id="register-patient">
    <div>
      <div class="data-thresholds">
        <div class="patient-data">
          <h4 class="patient-container sub-title">Patient Data</h4>
          <ul class="patient-container data-list">
            <li class="row-container">
              <div class="flex-item row-title">First Name</div>
              <div class="flex-item">
                <input
                type="text"
                name="firstName"
                placeholder="Enter first name"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">Last Name</div>
              <div class="flex-item">
                <input
                type="text"
                name="lastName"
                placeholder="Enter last name"
                required
                class="box-style input-style"
                />  
              </div>
            </li>
            <li class="row-container-left">
              <div class="flex-item row-title">Sex</div>
              <div class="flex-item">
                <input
                type="radio"
                name="sex"
                required
                class="radio"
                value="Male"
                />
                <label for="Male">Male</label><br />
                <input
                type="radio"
                name="sex"
                required
                class="radio"
                value="Female"
                />
                <label for="Female">Female</label><br />
                <input
                type="radio"
                name="sex"
                required
                class="radio"
                value="Other"
                />
                <label for="Other">Other</label>
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">DOB</div>
              <div class="flex-item">
                <input
                type="date"
                name="dob"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">Email Address</div>
              <div class="flex-item">
                <input
                type="email"
                name="email"
                placeholder="Enter email"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">Username</div>
              <div class="flex-item">
                <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">Password</div>
              <div class="flex-item">
                <input
                type="password"
                name="password"
                placeholder="Password (min 8 char)"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container">
              <div class="flex-item row-title">Confirm Password</div>
              <div class="flex-item">
                <input
                type="password"
                name="confirmPassword"
                placeholder="Retype password"
                required
                class="box-style input-style"
                />
              </div>
            </li>
            <li class="row-container-left">
              <div class="flex-item row-title">Bio</div>
              <div class="flex-item">
                <textarea name="bio" placeholder="Enter brief bio of patient" class="box-style input-style bio" wrap="soft" form="register-patient"></textarea>
              </div>
            </li>
          </ul>
        </div>
        <div class="safety-thresholds">
          <h4 class="sub-title">Safety Thresholds</h4>
          <!--Insert value thresholds template as seen in clinPEdit.html-->
        </div>
      </div>
      <div class="btn-submit">
        <input class="box-style btn-style" type="submit" value="Submit"/>
      </div>
    </div>
  </form>
</main>