<form action="/auth/login/clinician" method="post" name="login">
  <h1>Clinician Login</h1>
  <h3>Welcome Back!</h3>
  <input
    type="email"
    name="email"
    placeholder="Email Address"
    class="input-style"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
    class="input-style"
    required
  />
  <button class="btn-login" type="submit" value="login">Log In</button>
</form>
<button class="back">Back</button>