<div class="clin-container">
  <nav>
    {{>myNav}}
  </nav>
  <main>
    <div class="list-title">
    <div>Name</div>
    <div>Sex</div>
    <div>Age</div>
    <div>DOB</div>
    <div>BGL</div>
    <div>Weight</div>
    <div>Insulin</div>
    <div>Exercise</div>
    <div>Comments</div>
    </div>
    <ul>
      {{#each patients}}
        <li>
          {{> patientEntry 
          patient=this.patient 
          record=this.todayRd 
          comments=this.comments 
          dataSet = this.patient.dataSet
          }}
        </li>
      {{/each}}
    </ul>
  </main>
</div>



