<div class="grid-container">
  <div class="engagement">
    <h1 style="color: #446275;"><i>Patient Data</i></h1>
    <h2>
      <a
        href="/clinician/patients/{{patient._id}}"
        style="text-decoration: none; padding-left: 15px; color: #ABB8C2"
      >Today</a>
      <a style="color: #446275;">Past</a>
    </h2>
    <ul>
      <li class="row-container">
        {{! label each column}}
        <div class="flex-item list-header">Date</div>
        <div class="data">
          <div class="flex-item list-header">BGL (nmol/L)</div>
          <div class="flex-item list-header">Weight (kg)</div>
          <div class="flex-item list-header">Insulin (doses)</div>
          <div class="flex-item list-header">Exercise (steps)</div>
        </div>
      </li>
      {{#each patients}}
        <li class="row-container">
            {{! output data for each patient}}
            {{> patientEntry}}
        </li>
      {{/each}}
    </ul>
    <div class="Notes">
      <h2>Notes</h2>
      <!-- Must be able to input Note -->
      <a href="/noteHistory"><button class="btn-note-history">View Note History</button></a>
      <br>
      <input
      type="note"
      name="note"
      placeholder="Enter here"
      class="input-style"
      />
      <button class="btn-submit">Submit</button></a>
    </div>
    <div class = "Message">
      <h2>Write Mary a message!</h2>
      <!-- Must be able to input Message -->
      <input
      type="message"
      name="message"
      placeholder="Enter here"
      class="input-style"
      />
      <button class="btn-submit">Submit</button></a>
    </div>
    <br />
  </div>
</div>
<footer class="layout-footer">
  <div> © Diabetes@Home 2022 &nbsp;&nbsp;|&nbsp;&nbsp; P: 0123456789 &nbsp;&nbsp;|&nbsp;&nbsp; E: <a href="mailto:diabetes.home@gmail.com">diabetes.home@gmail.com</div>
</footer>  