<main>
  <div class="headings">
    <h3 class="title">Settings</h3>
    <div class="logout">
      <a href="/auth/logout">
        <button>
          Log Out
        </button>
      </a>
    </div>
  </div>
  <form
    class="settings-form"
    method="post"
    action="/clinician/post-settings"
    name="update-password"
  >
    <ul>
      <li class="row-container">
        <div class="flex-item list-header">First Name</div>
        <div class="flex-item">{{clinician.firstName}}</div>
      </li>
      <li class="row-container">
        <div class="flex-item list-header">Last Name</div>
        <div class="flex-item">{{clinician.lastName}}</div>
      </li>
      <li class="row-container">
        <div class="flex-item list-header">Email Address</div>
        <div class="flex-item">{{clinician.email}}</div>
      </li>
      <li class="row-container">
        <div class="flex-item list-header">Clinician ID</div>
        <div class="flex-item">{{clinician._id}}</div>
      </li>
      <li class="row-container">
        <div class="flex-item list-header">New Password</div>
        <div class="flex-item">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password (min 8 char)"
            onchange="check_password();"
            required
            class="box-style input-style"
          />
        </div>
      </li>
      <li class="row-container">
        <div class="flex-item list-header">Confirm Password</div>
        <div class="flex-item">
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="Retype password"
            onchange="check_password();"
            required
            class="box-style input-style"
          />
          <span id="feedback"></span>
        </div>
      </li>
      <li class="row-container">
        <div class="flex-item box-style btn-confirm">
          <input class="box-style btn-confirm" type="submit" name="submit" id="submit" value="Confirm" disabled/>
        </div>
      </li>
    </ul>
  </form>
</main>