<div class="grid-container">
  <div class="engagement">
    <a href="/clinPEdit"><button class="btn-edit">Back</button></a>
    <h1 style="color: #446275;"><i>Values Threshold</i></h1>
    <div class="data">
      <h4>Min</h4>
      <h4>Max</h4>
      <div class="insulin-dose-container">
        <h3 class="type-style">Insulin (doses)</h3>
        <!-- {{#if healthRd.Insulin}}
          <h2 class="insulin-doses">{{healthRd.Insulin.figure}}</h2>
        {{else}} -->
      </div>
      <br />
      <div class="weight-container">
        <h3 class="type-style">Weight (kg)</h3>
        <!-- {{#if healthRd.Weight}}
          <h2 class="weight">{{healthRd.Weight.figure}}</h2>
        {{else}} -->
      </div>
      <br />
      <div class="blood-glucose-container">
        <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
        <!-- {{#if healthRd.BGL}}
          <h2 class="blood-glucose-level">{{healthRd.BGL.figure}}</h2>
        {{else}} -->
      </div>
      <br />
      <div class="exercise-container">
        <h3 class="type-style">Exercise (Steps)</h3>
        <!-- {{#if healthRd.Exercise}}
          <h2 class="exercise">{{healthRd.Exercise.figure}}</h2>
        {{else}} -->
      </div>
      <h4>Make Req.</h4>
    </div>
    <div class="Notes">
      <h2>Notes</h2>
      <a href="/noteHistory"><button class="btn-note-history">View Note History</button></a>
      <br>
      <input
      type="note"
      name="note"
      placeholder="Enter here"
      class="input-style"
      />
      <h2>Write Mary a message!</h2>
      <input
      type="message"
      name="message"
      placeholder="Enter here"
      class="input-style"
      />
    </div>
    <br />
  </div>
</div>
<footer class="layout-footer">
  <div> © Diabetes@Home 2022 &nbsp;&nbsp;|&nbsp;&nbsp; P: 0123456789 &nbsp;&nbsp;|&nbsp;&nbsp; E: <a href="mailto:diabetes.home@gmail.com">diabetes.home@gmail.com</div>
</footer>   