<div class="settings-container">
    <!--{{! navigation}}-->
    {{!-- {{> myNav}} --}}
    <main>
      <div class="headings">
          <h3 class="title">Settings</h3>
          <!--Link to backend-->
          <div class="logout">
            <a href="/auth/logout">
                <button>
                    Log Out
                </button>
            </a>
          </div>
      </div>
      <!--Link to backend-->
      <form
        class="settings-form"
        method="post"
        name="update-password"
      >
        <ul class="clinician-details">
            <li>
                <div class="row-title">First Name</div>
                <div class="clinician-data">{{clinician.firstName}}</div>
            </li>
            <li>
                <div class="row-title">Last Name</div>
                <div class="clinician-data">{{clinician.lastName}}</div>
            </li>
            <li>
                <div class="row-title">Email Address</div>
                <div class="clinician-data">{{clinician.email}}</div>
            </li>
            <li>
                <div class="row-title">Clinician ID</div>
                <div class="clinician-data">{{clinician._id}}</div>
            </li>
            <li>
                <div class="row-title">New Password</div>
                <!--Is this correct?-->
                <input
                    type="password"
                    name="password"
                    placeholder="Password (min 8 characters)"
                    required
                    class="input-style"
                />
            </li>
            <li>
                <div class="row-title">Confirm Password</div>
                <!--Is this correct?-->
                <input
                    type="password"
                    name="confirm-password"
                    placeholder="Retype password"
                    required
                    class="input-style"
                />
            </li>
            <li>
                <input class="btn-confirm" type="submit" value="Confirm"/>
            </li>
        </ul>
      </form>
    </main>
  </div>