<section>
  <form action="/patient/health/bgl" method="post">
    <label>Blood Glucose Level:</label>
    <input type="text" name="bgl"> </input>
    <input type="text" name="bglComment"> </input>
    <input type="submit"> </input>
  </form>
</section>