<section>
  <form action="/api/patient/health/bgl" method="post">
    <label>Blood Glucose Level:</label>
    <input type="text" name="bgl" value="15" disabled> </input>
    <input type="text" name="bglComment"> </input>
    <input type="submit"> </input>
  </form>
</section>