<div class="front-page-container">
  <h3>Welcome to</h3>
  <h4>Diabetes@Home</h4>
  <a href="/aboutDia" class="btn-about-diabetes">About Diabetes</a><br />
  <a href="/aboutWebPage" class="btn-about-website">About this website</a><br />
  <a href="/patient" class="btn-login"> Patient Login </a>
  <a href="/clinician" class="btn-login"> Clinician Login </a>
</div>