<div class="front-page-container">
  <h3>Welcome to</h3>
  <h4>Diabetes@Home</h4>
  <a class="btn-about-diabetes" aria-label="about-diabetes">About Diabetes</a><br
  />
  <a class="btn-about-website" aria-label="about-website">About this website</a><br
  />
  <a class="btn-login" aria-label="patient login" href="/patient">
    Patient Login
  </a>
  <a class="btn-login" aria-label="clinican login" href="/clinician">
    Clinician Login
  </a>
</div>