<div class="front-page-container">
  <p class="sub-heading">Welcome to</p>
  <h4>Diabetes@Home</h4>
  <a href="/aboutDia"><button class="btn-about-diabetes">About Diabetes</button></a>
  <a href="/aboutWebPage"><button class="btn-about-website">About Diabetes@Home</button></a>
  {{! login button }}
  <div class="login-button-style">
    <a href="/patient">
      <button class="btn-login">
        Patient
        <span>Login</span>
      </button>
    </a>
    <a href="/clinician">
      <button class="btn-login">
        Clinician
        <span>Login</span>
      </button>
    </a>
  </div>
</div>