<form action="/auth/login/patient" method="post">
    <label for="email">email:</label>
    <input type="text" name="email"></input>
    <label for="password">password:</label>
    <input type="text" name="password"></input>
    <input type="submit"> Login </input>
  </form>