<div class="login-container">
  <form
    class="login-style"
    action="/auth/login/patient"
    method="post"
    name="login"
  >
    <p class="login-header">Patient Login</p>
    <p class="welcome">Welcome</p>
    <input
      type="email"
      name="email"
      placeholder="Email Address"
      required
      class="input-style"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
      class="input-style"
    />
    <input class="btn-login space" type="submit" value="Login" />
  </form>
  <a href="/"> <button class="btn-login back-style">Back</button></a>
</div>