<div style="background-color:brown; height:30vh">
  TEST SEGMENT ONE
</div>
<div style="background-color:blue; height:30vh">
  TEST SEGMENT TWO
</div>
<div style="background-color:blueviolet; height:30vh">
  TEST SEGMENT THREE
</div>