body {
  /* page layout - desktop version */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.15fr 1fr;
  grid-template-areas:
    "header header"
    "col1 col2"
    "footer footer"
}

/* assign regions of the page to the grid */
header {
  grid-area: header;
}

.col1 {
  grid-area: col1;
  padding: 15px;
}
.col2 {
  grid-area: col2;
  padding: 15px;
}

footer {
  grid-area: footer;
  height: 7vh;
  display: flex;
  justify-content: center;
  background-color: #d7e9f5;
  align-items: center;
  color: #446275;
  font-family: "PT sans";
}

footer a {
  text-decoration: none;
  color: #446275;
}

/* responsive screen */
@media screen and (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
