@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* Navigation style */
nav {
  height: 8vmax;
  display: flex;
  background-color: #f4f9fd;
  justify-content: space-evenly;
  align-items: center;
}
