.clin-container {
  height: 90vh;
  display: flex;
}

main {
  width: 90vw;
  color: #446275;
  font-family: "PT sans";
}

main .title {
  height: 50px;
  font-style: italic;
  padding-left: 3vw;
}

.row-container {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.list-header {
  font-weight: bold;
}

.box {
  border-radius: 15px;
  border: 5px solid #c6cfd5;
}

#warning {
  color: red;
}

.flex-item-name {
  flex: 5vw;
  text-align: center;
}

.flex-item-sex {
  flex: 10vw;
  text-align: center;
}

.flex-item-dob {
  flex: 10vw;
  text-align: center;
}

.flex-item-bgl {
  flex: 10vw;
  text-align: center;
}

.flex-item-weight {
  flex: 10vw;
  text-align: center;
}

.flex-item-insulin {
  flex: 10vw;
  text-align: center;
}

.flex-item-exercise {
  flex: 10vw;
  text-align: center;
}

.flex-item-comments {
  flex: 10vw;
  text-align: center;
}

.data {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 70vw;
}