main {
  width: 90vw;
  font-family: "PT sans";
  padding-left: 2vw;
}

main .title {
  color: #446275;
  font-weight: bold;
}

.note-title {
  font-size: 2.5vw;
}

.p-name {
  font-style: italic;
  font-size: 1.5vw;
}

.row-container {
  height: 60px;
  display: flex;
  color: #446275;
}

.row-container > div {
  margin: auto 2.5vw;
}

.flex-item-date {
  min-width: 100px;
}

.list-header {
  font-weight: bold;
}

.window-container {
  overflow-y: scroll;
  height: 60vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vw 1vh 3.5vw;
}

ul {
  margin: 0;
}
