main {
    width: 90vw;
    color: grey;
    font-family: "PT sans";
}
  
main .title {
    color: #446275;
    height: 50px;
    font-style: italic;
    padding-left: 3vw;
}

.data-thresholds {
    display: flex;
    justify-content: space-between;
}

.patient-data {
    padding-left: 20vw;
}

.safety-thresholds {
    padding-right: 20vw;
}

.btn-submit {
    display: flex;
    justify-content: center;
}