* {
  margin: 0;
  padding: 0;
}

:root {
  --text-btn: 50px;
  --text-heading: 50px;
  --text-subheading: 40px;
  --text-body: 30px;
  --font-family-heading: "PT Sans";
  --color-text: #446275;
  --color-background: #d7e9f5;
}

/*Sets up grid*/
.grid-container {
  display: grid;
  width: 90vw;
  padding-left: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vh;
  grid-template-areas: "engagement data";
}

.twoboxes {
  display: flex;
  width: 87vw;
}

.data {
  border: 2px solid grey;
  border-radius: 15px;
  flex: 50%;
}

.minmax {
  display: flex;
  border: 2px solid grey;
  flex-direction: column;
  border-radius: 15px;
  flex: 40%;
  margin-left: 10px;
}

.checkbox {
  float: left;
}

h1 {
  font-family: "PT sans";
}

h3 {
  color: var(--color-text-label);
  font-family: var(--font-family-heading);
}

.twocolumns {
  display: flex;
  padding-bottom: 20px;
}

.SEXDOBAGE {
  float: left;
  flex: 50%;
  padding-left: 20px;
}

.measurements {
  float: right;
  flex: 50%;
}

.type-style {
  font-family: var(--font-family-heading);
  font-size: 12px;
  flex: 50%;
}

.unit-style {
  float: right;

  font-family: var(--font-family-heading);
}

.blood-glucose-container,
.sex-container,
.age-container,
.dob-container,
.insulin-dose-container,
.exercise-container,
.weight-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

h2 {
  font-family: var(--font-family-heading);
}

.engagement {
  padding-top: 20px;
  padding-left: 20px;
}

.insulin-doses,
.age,
.dob,
.sex,
.weight,
.blood-glucose-level,
.exercise {
  font-size: 14px;
  padding-left: 20px;
  flex: 50%;
}

h3 {
  font-size: 2.5vh;
}

.btn-note-history {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  font-family: var(--font-family-heading);
  color: #446275;
  background-color: white;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.bottomcontainer {
  display: flex;
  width: 87vw;
  margin-top: 10px;
}

.Notes {
  border: 2px solid grey;
  border-radius: 15px;
  flex: 40%;
}

.Message {
  border: 2px solid grey;
  border-radius: 15px;
  flex: 40%;
  margin-left: 10px;
}

.input-style {
  padding: 10px;
  border: 2px solid grey;
  border-radius: 15px;
  height: 90px;
  margin: 8px;
  width: 97%;
  content: top;
  outline: none;
  resize: none;
}

textarea[type="message"]::placeholder,
textarea[type="note"]::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: var(--font-family-heading);
}

.btn-submit {
  background-color: #446275;
  border: none;
  height: 25px;
  width: 100%;
  font-size: 20px;
  font-family: var(--font-family-heading);
  border-radius: 15px;
  cursor: pointer;
}

/*Changes to the css when the screen size width is less than 500px*/
@media screen and (max-width: 500px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    height: 66vh;
  }

  /*data container positioning*/
  .blood-glucose-container,
  .insulin-dose-container,
  .exercise-container,
  .weight-container {
    height: 15vh;
    width: 24vw;
    margin: 0 0.5vw;
    padding-top: 2vh;
    margin-left: 2vw;
  }

  .insulin-doses,
  .weight,
  .blood-glucose-level,
  .exercise {
    font-size: 3vh;
  }

  h3 {
    font-size: 2vh;
  }

  .engagement {
    height: 50vh;
    padding-left: 0;
  }
}
