/* all content style */
body {
  font-family: "PT sans";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* main style */
.content-style {
  color: #446275;
  padding: 3vh 5vw 2vh;
  margin-left: 5vw;
}

.input-style {
  font-style: italic;
}

.link-style {
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.link-style a {
  padding-left: 3vmin;
  text-decoration: none;
  color: #abb8c2;
}

.require-style {
  padding-right: 1vw;
  color: red;
  font-size: 3vmin;
}

/* add data style */
.data-section {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* data block section */
.data-container {
  width: 30%;
  height: 12.5vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* left upper data section*/
.upper-section {
  display: flex;
  justify-content: space-around;
}

.star-style {
  font-size: 5vw;
  color: red;
}

.desktop-star-style {
  display: none;
}

.type-style {
  font-size: 2vh;
  font-weight: bold;
  color: #f5eccb;
}

/* left middle data section*/
.data-style {
  align-self: center;
  width: 90%;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 4vh;
  font-style: italic;
  outline: none;
}

/* left lower data section*/
.unit-style {
  align-self: flex-end;
  padding-right: 2vw;
  font-size: 3.5vmin;
}

.Insulin-color {
  background-color: #84aac2;
}
.BGL-color {
  background-color: #89a5d9;
}
.Weight-color {
  background-color: #8289cf;
}
.Exercise-color {
  background-color: #89cfd9;
}

/* time block section */
.time-container {
  height: 12.5vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.time-style {
  border-radius: 15px;
  width: 90%;
  height: 48%;
  color: #84aac2;
  font-size: 4vw;
  text-align: center;
  background-color: white;
}

.Insulin-border {
  border: 1px solid #84aac2;
  color: #84aac2;
}
.BGL-border {
  border: 1px solid #89a5d9;
  color: #89a5d9;
}
.Weight-border {
  border: 1px solid #8289cf;
  color: #8289cf;
}
.Exercise-border {
  border: 1px solid #89cfd9;
  color: #89cfd9;
}

/* comments block section */
.comment-style {
  width: 40%;
  height: 12.5vh;
  border-radius: 15px;
  background-color: white;
  text-align: start;
  outline: none;
  padding: 2vmin 3vmin;
  resize: none;
}

/* Desktop style*/
@media screen and (min-width: 500px) {
  .content-style {
    padding: 5vh 5vw 0 10vw;
  }
  .link-style {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .require-style {
    color: red;
    font-size: 2vmin;
  }
  /* data block section */
  .data-container {
    margin-right: 9%;
    width: 45%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .upper-section {
    width: 40%;
    justify-content: flex-start;
  }
  .star-style {
    display: none;
  }
  .desktop-star-style {
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    color: red;
  }
  .type-style {
    padding-left: 2vw;
    font-size: 2vw;
    align-self: center;
  }
  .data-style {
    width: 30%;
    font-size: 2vw;
  }
  .unit-style {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding: 0;
    font-size: 2.5vmin;
  }
  /* time block section*/
  .time-container {
    width: 11%;
  }
  .time-style {
    font-size: 1vw;
    padding: 0.5vw;
  }
}
