* {
  margin: 0;
  padding: 0;
}

:root {
  --text-btn: 50px;
  --text-heading: 50px;
  --text-subheading: 40px;
  --text-body: 30px;
  --font-family-heading: "PT Sans";
  --color-text: #446275;
  --color-background: #d7e9f5;
  --color-text-label: #f5eccb;
}



.grid-container {
  display: grid;
  width: 90vw;
  padding-left: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vh;
  grid-template-areas:
    "engagement data";
}


.engagement {
  grid-area: engagement;
}
.required {
  grid-area: data;
}

h3 {
  color: var(--color-text-label);
  font-family: var(--font-family-heading);
}

.insulin-dose-container {
  background-color: #84aac2;
}

.weight-container {
  background-color: #89a5d9;
}

.blood-glucose-container {
  background-color: #8289cf;
}

.exercise-container {
  background-color: #89cfd9;
}

.blood-glucose-container,
.insulin-dose-container,
.exercise-container,
.weight-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  padding-top: 1vh;
  border-radius: 14px;
  padding-left: 1vw;
  padding-right: 1vw;
}

h2 {
  font-family: var(--font-family-heading);
}


.engagement {
  padding-top: 10%;
  padding-left: 25%;
}

.insulin-doses,
.weight,
.blood-glucose-level,
.exercise {
  text-align: center;
  font-size: 6.5vh;
}

.required {
  padding-top: 5vh;
}

h3 {
  font-size: 2.5vh;
}

.asterisk-insulin{
  color: red;
  position: absolute;
  right: 9vw;
  top: 15vh;
  font-size: 5vw;
}

.asterisk-weight{
  color: red;
  position: absolute;
  right: 9vw;
  top: 34vh;
  font-size: 5vw;
}

.asterisk-bgl{
  color: red;
  position: absolute;
  right: 9vw;
  top: 53vh;
  font-size: 5vw;
}

.asterisk-exercise{
  color: red;
  position: absolute;
  right: 9vw;
  top: 72vh;
  font-size: 5vw;
}

.asterisk{
  color: red;
  position: relative;
  right: 0;
  top: 0;
  font-size: 5vw;
}

p {
  color: red;
  font-size: 3vh;
}

@media screen and (max-width: 400px) {
  .grid-container{
    display: flex;
    flex-direction: column;
  }

  .data{
    display: flex;
    flex-direction: row;
  }

  .blood-glucose-container,
.insulin-dose-container,
.exercise-container,
.weight-container {
    height: 15vh;
    width: 25vw;
    padding-top: 2vh;
  }

  .insulin-doses,
.weight,
.blood-glucose-level,
.exercise {
    font-size: 3vh;
  }

  h3 {
    font-size: 2vh;
  }

  .engagement{
    height: 30vh;
  }
  main{
    height: 80vh;
    padding-left: 5vw;
  }
}