@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --text-home-btn: 50px;
  --text-heading: 5vw;
  --text-subheading: 3vw;
  --text-body: 1.5vmax;
  --font-family-body: "PT Sans";
  --font-family-heading: "PT Sans";
  --font-family-btn: "PT Sans";
  --color-text: #446275;
  --color-background: #d7e9f5;
  --round-border: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
}

.btn-home {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: var(--text-btn);
  font-family: var(--font-family-btn);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 0;
}

h1 {
  font-size: var(--text-heading);
  font-family: var(--font-family-heading);
  font-style: italic;
  color: var(--color-text);
  text-align: center;
  margin-top: 15px;
}

.col1,
.col2 {
  font-size: var(--text-body);
  font-family: var(--font-family-body);
  font-style: italic;
  color: var(--color-text);
}

h2 {
  font-size: var(--text-subheading);
  margin-top: 20px;
}

header {
  height: 100px;
  background-color: var(--color-background);
}
.col1 {
  margin-left: 20px;
}

a {
  text-decoration: none;
}
